*{margin: 0;
   padding: 0;
  }
body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

header{background-color: rgb(14, 233, 43);
color: black;
display: flex;
justify-content: space-around;
padding: 24px 0;}


.cabecalho-imagem{width: 13%;}
 
 h1
  {margin: 0 60px;
    padding: 120px 0;
 font-size: 40px;}
 li{
   display: inline-block;
margin:  0px;
padding: 60px;
font-size:35px;}

.escola-imagem{
            width: 20%;
            }    
.escola {
    background-image: linear-gradient(rgb(32, 204, 247), rgb(138, 46, 130));
    color: rgb(51, 53, 61);
    display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;}
.aluno-um{
  width: 40%;
height: 150px;}


  .estudante-titulo {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
  }
  .estudante-icone
  {width: 100px;}
  .estudante-div {
    text-align: center;
  }
.estudantes-todos{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}
footer {
background-color: rgba(255, 0, 149, 0.644);
color: black;
}
.estudante{
background-color: rgba(255, 0, 255, 0.5);
}

  
