header{background-color: blueviolet;
color: black;
display: flex;
justify-content: space-around;}
.cabecalho-imagem{width: 13%;}
 
 
 h1
  {margin: 0 60px;
    padding: 120px 0;
 font-size: 40px;}
 li{
   display: inline-block;
margin:  0px;
padding: 60px;
font-size:35px;}

